.curved-loop-jacket {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 6rem;
  fill: #FEFEFE;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'dazzle-unicase', sans-serif;
}